{% extends 'base.html' %}

{% block update %}
<div class="container mt-4">
    <form action="/update/{{form.id}}" method="post">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                <input type="text" value="{{form.name}}" class="form-control" name="name" id="name">
            </div>
        </div>
        <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-4">
                <input type="text" value="{{form.address}}" class="form-control" name="address" id="address">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>   
</div>
{% endblock update %}